@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: 215 49% 31%;
  --light-blue: 210 40% 96.1%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

/* Snowfall animation */
@keyframes fall {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(25vh) translateX(10px);
  }
  50% {
    transform: translateY(50vh) translateX(-10px);
  }
  75% {
    transform: translateY(75vh) translateX(10px);
  }
  100% {
    transform: translateY(100vh) translateX(0);
  }
}

.snow-title {
  text-shadow: 
    0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.3);
}

.snow-title-no-filter {
  text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.3);
}
